#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 350px;
    height: auto;
    left: 45%;
    top: 75px;
    background: #AAA;
}
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
    background: #EEE;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #BBB;
    font-weight: bold;
}
.popupHeader.modalClose {
    position: absolute;
    right: 0;
    top:0;
    padding: 10px 20px;
    background: #CCC;
    cursor: pointer;
    color: #AAA;
    font-size: 16px;
}
.popupBody {
    padding: 20px;
}

.userLogin {
    display: none;
}
.userLogin label{
    display: block;
    margin-bottom: 5px;
}
.userLogin input[type="text"],
.userLogin input[type="email"],
.userLogin input[type="password"]{
    display:block;
    width: 85%;
    padding: 10px;
    color: #555;
    border: 1px solid #DDD;
}
.userLogin input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}
.userLogin input[type="checkbox"]+label{
    float: left;
}
.userLogin .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgotPassword input[type="text"],
.forgotPassword input[type="email"],
.forgotPassword input[type="password"] {
    display:block;
    width: 85%;
    padding: 10px;
    color: #555;
    border: 1px solid #DDD;
}

.forgotPassword {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #c85d1d;
}

.userRegister label{
    display: block;
    margin-bottom: 5px;
}
.userRegister input[type="text"],
.userRegister input[type="email"],
.userRegister input[type="password"]{
    display:block;
    width: 85%;
    padding: 10px;
    color: #555;
    border: 1px solid #DDD;
}
.userRegister input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}
.userRegister input[type="checkbox"]+label{
    float: left;
}
.userRegister .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.btn {
    padding: 10px 20px;
    background: #EEE;
}

.btnGo {
    background: #c85d1d;
    color: #FFF;
}

.btn:hover {
    background: #CCC;
}

.btnGo:hover {
    background: #a82d4a;
}
a.btn {
    color: #555;
    text-align: center;
    text-decoration: none;
}
a.btnGo {
     color: #555;
}
.oneHalf {
    width: 50%;
    margin-left: 5%;
}
.oneHalf.last {
    width:45%;
}
.actionBtns {
    clear: both;
    overflow: hidden;
}
.actionBtns a{
    display: block;
}