main {
    padding-left: 300px;
}
main ul {
    padding-left:10%;
}
#logo-container {
    font-size: xx-large;
}
.stat {
    padding: 10px;
}
a {
    color: #dd2c00;
}
.collection a.collection-item{
    color: #dd2c00;
}
footer {
    padding-left: 300px;
}
.offset-terms {
    margin-left: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.footer-social-links a{
    color: white;
    font-size: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 992px) {
    main {
        padding-left: 0;
    }
    main ul {
        padding-left:0;
    }
    footer {
        padding-left: 0;
    }
}